<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <!-- <script defer src="https://unpkg.com/htmx-ext-form-json"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body class="bg-zinc-600">
    <header class="flex flex-col bg-zinc-800 items-center p-4">
      <h1 class="text-white text-4xl"><a hx-get="/view/home" hx-target="#content">KWatcher</a></h1>
    </header>    
    <content class="flex flex-col items-center text-white m-4" id="content" hx-get="/api/events" hx-trigger="load">
    </content>
  </body>
</html>
<script>
  function duration(microseconds) {
      let formatter = new Intl.DurationFormat("en", { style: "digital" });
      
      let milliseconds = Math.floor(microseconds / 1000);
      microseconds -= milliseconds * 1000;
      let seconds = Math.floor(milliseconds / 1000);
      milliseconds -= seconds * 1000;
      let minutes = Math.floor(seconds / 60);
      seconds -= minutes * 60;
      let hours = Math.floor(minutes / 60);
      minutes -= hours * 60;
      let days = Math.floor(hours / 24);
      hours -= days * 24;
      let years = Math.floor(days / 365.24); // More or less... The seconds don't account for Leapseconds either. And no browser has Temporal.Duration as of the time of writing.
      days -= Math.floor(years * 365.24);

      return formatter.format({
          milliseconds: milliseconds,
          microseconds: microseconds,
          seconds: seconds,
          minutes: minutes,
          hours: hours,
          days: days,
          years: years,
      });
  };
</script>
